.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.card {
  width: 275px;
  background-image: url("../../images/felt-material.png");

}

.card-content {
  padding: 10px 0;
  width: 100%;
  color: rgb(216, 216, 216);
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
  
}

.card h2 {
  display: flex;
  justify-content: center;
  margin: 2px 5px;
  font-size: var(--font-reg);

}

.card p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 5px 0;
  font-size: var(--font-reg);
}

.trophy-img {
  position:relative;
  left: 47px;
  top: 64px;
  height: 200px;
  width: auto;
  z-index: 9;
}

.trophy-img:hover{
  transform: scale(1.2);
}

.podium-img {
  position: relative;
  top: 45px;
  left: 42.5px;
  height: 60px;
  width: auto;

}

.shelf {
  height: 50px;
  width: 100%;
}
