{% extends 'base.html' %}

{% block content %}

<body>
  <header>
      <h1>Welcome to Trophy Case</h1>
  </header>
  <div class="page-content">
      <section id="mission">
          <h2>Our Mission</h2>
          <p>At Trophy Case, we believe that every achievement, no matter how small, deserves recognition. Our platform empowers users to create, update, and delete trophies that symbolize their accomplishments. Whether you're marking off personal goals, professional victories, or just daily wins, Trophy Case is here to help you acknowledge your journey's success.</p>
      </section>
      
      <section id="inspiration">
          <h2>The Inspiration</h2>
          <p>Our journey began with a simple idea by our founder, an avid developer with a keen understanding of psychology. Observing the challenges faced by individuals with ADHD, who often struggle with sustaining motivation due to lower levels of dopamine, he sought to create a solution. It's well-documented that small rewards and visual representations of progress, like getting a gold star or ticking off a to-do list, can substantially boost dopamine levels. This boost is especially beneficial for those whose focus thrives on interest and immediate rewards.</p>
      </section>
      
      <section id="why-trophy">
          <h2>Why Trophy Case?</h2>
          <p>The core of Trophy Case is rooted in the psychological principle that positive reinforcement can lead to positive change. For individuals with ADHD, the instant gratification of seeing a new trophy in their case can make all the difference in maintaining motivation and focus. We've taken this concept and built a user-friendly app that enables all users to harness the power of accomplishment.</p>
      </section>
      
      <section id="features">
          <h2>Features for Success</h2>
          <ul>
              <li><strong>Create a Trophy</strong>: Personalize trophies for different achievements and categorize them as you see fit.</li>
              <li><strong>Update Your Progress</strong>: Edit details as you reach new milestones or improve upon past successes.</li>
              <li><strong>Delete Outdated Goals</strong>: Remove accomplishments that no longer serve you, keeping your focus on current objectives.</li>
          </ul>
      </section>
      
      <section id="community">
          <h2>A Community of Achievers</h2>
          <p>Trophy Case isn't just an app; it's a community. We encourage users to share their success stories and inspire others. It's a place where every achievement is acknowledged, shared, and cheered.</p>
          <p>Join us in creating a space where accomplishments are the norm and every success is just the beginning. With Trophy Case, your victories are not just seen—they are celebrated.</p>
      </section>
  </div>
</body>

{% endblock %}